.btn,
.btn_gray {
  background-color: $main-color;
  padding: 16px 24px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  &:hover {
    text-decoration: none;
    color: $main-color;
    border: 2px solid $main-color;
    background-color: #fff;
  }
}

.btn_gray {
  background-color: #e6e6e6;
  color: #222;
  &:hover {
    background-color: #fff;
    border: 2px solid #e6e6e6;
    text-decoration: none;
    color: #222;
  }
}
