.services {
  padding: 80px 0 80px 0;
  min-height: 960px;
  background-color: #f7f7f7;
  &__descr {
    color: $title-color;
    width: 920px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin: 25px auto 0 auto;
  }
  &__wrapper {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 415px);
    grid-template-rows: repeat(2, minmax(250px, auto));
    gap: 38px;
  }
  &__item {
    position: relative;
    background-color: #fff;
    padding: 50px 32px;
    transition: all 0.6s;
    cursor: pointer;
    &-img {
      width: 35px;
      height: 35px;
      margin: 0 auto;
    }
    &-title {
      color: $title-color;
      text-align: center;
      font-size: 20px;
      font-weight: 800;
      line-height: 30px;
      margin-top: 15px;
    }
    &-text {
      color: $title-color;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      margin-top: 7px;
    }
    &-pointer {
      width: 18px;
      height: 20px;
      position: absolute;
      left: 135px;
      bottom: 20px;
      opacity: 0.4;
    }
    &:hover {
      background-color: $main-color;
      transform: scale(1.05);
      .services__item-img {
        path {
          fill: #fff;
        }
      }
      .services__item-title,
      .services__item-text {
        color: #fff;
      }
      .square {
        display: block;
      }
    }
  }
  &__btn {
    text-align: center;
    margin-top: 60px;
  }
}
