@media (max-width: 1200px) {
  .promo {
    &__subheader {
      font-size: 27px;
    }
    &__header {
      font-size: 50px;
    }
    &__descr {
      width: 800px;
      font-size: 18px;
    }
  }
}

@media (max-width: 992px) {
  .promo {
    min-height: 530px;
    padding-top: 205px;
    padding-bottom: 25px;
    &__subheader {
      font-size: 24px;
      line-height: 28px;
    }
    &__header {
      line-height: 75px;
    }
    &__descr {
      width: 100%;
      font-size: 18px;
      line-height: 21px;
    }
    .slidercontrol {
      margin-top: 50px;
    }
  }
}

@media (max-width: 768px) {
  .promo {
    &__header {
      font-size: 45px;
    }
    &__descr {
      font-size: 17px;
    }
  }
}

@media (max-width: 576px) {
  .promo {
    min-height: 485px;
    padding-top: 200px;
    padding-bottom: 60px;
    &__subheader {
      font-size: 18px;
      line-height: 21px;
    }
    &__header {
      font-size: 32px;
      line-height: 45px;
    }
    &__descr {
      font-size: 16px;
      line-height: 24px;
    }
    .slidercontrol {
      display: none;
    }
  }
}

@media (max-width: 390px) {
  .promo {
    &__subheader {
      font-size: 16px;
    }
    &__header {
      font-size: 25px;
    }
    &__descr {
      font-size: 13px;
    }
  }
}
