@media (max-width: 992px) {
  header {
    .subheader {
      height: 85px;
      &__content {
        position: relative;
        height: 85px;
      }
      &__logo {
        font-size: 22px;
        line-height: 33px;
        margin-top: 15px;
      }
      &__official {
        font-size: 16px;
      }
      .hamburger {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 25px;
        height: 25px;
        border: 1px solid #000;
        padding: 4px 3px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        span {
          display: block;
          width: 18px;
          height: 2px;
          background-color: #fff;
        }
        .short {
          width: 12px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  header {
    .header {
      .upper-menu {
        &__item {
          &:nth-child(2) {
            display: none;
          }
        }
        &__link {
          line-height: 20px;
        }
        &__order {
          display: block;
          text-align: right;
          width: 160px;
        }
      }
    }
  }
}

@media (max-width: 390px) {
  header {
    .header {
      .upper-menu {
        &__order {
          width: 220px;
        }
      }
    }
    .subheader {
      &__logo {
        font-size: 17px;
      }
      &__official {
        font-size: 12px;
      }
    }
  }
}
